.App {
  background-image: url('./bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.main-container {
  width: 320px;
  background-color: var(--white);
  min-height: 150px;
  padding: 20px 35px 35px 35px;
  border-radius: 7px;
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.2);
  transition: 0.4s ease;
}

.main-container-lg {
  width: 1200px;
  background-color: var(--white);
  min-height: 650px;
  padding: 20px 30px 30px 30px;
  border-radius: 7px;
  box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.2);
  transition: 0.4s ease;
  position: relative;
}

.header {
  padding-bottom: 20px;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.blu {
  color: var(--blue);
}
.purp {
  color: var(--purple);
}
.subtitle {
  margin:0;
  color: var(--light-grey);
}

.btn-ask {
  padding: 9px 50px;
  background-color:rgba(97, 165, 255, 0.8);
  width: 100%;
  border-radius: 3px;
  font-size: 15px;
  color: rgb(255,255,255);
  border: 1px solid var(--blue);
  transition: 0.2s ease;
  letter-spacing: 0.5px;
  margin-top: 50px;
  text-decoration: none;
}
.btn-ask:hover {
  cursor: pointer;
  background-color:var(--blue);
  transition: 0.3s ease;
}
.landing-container {
  padding: 30px;
}
.btn-start {
  display: block;
  padding: 9px 35px;
  background-color: rgba(192, 102, 177,0.8);
  border-radius: 3px;
  font-size: 15px;
  color: rgb(255,255,255);
  border: 1px solid var(--purple);
  transition: 0.2s ease;
  letter-spacing: 0.5px;
  margin-top: 25px;
  text-decoration: none;
  margin-bottom: 0;
}
.btn-start:hover {
  cursor: pointer;
  background-color:var(--purple);
  transition: 0.3s ease;
}

.form-input {
  width: 100%;
  padding: 10px 0px;
  border-radius: 3px;
  border: 1px solid rgb(214, 230, 253);
  background: rgb(245, 249, 255);
  text-align: center;
}
.form-input::placeholder {
  color: rgba(0,0,0,0.3);
}
hr {
  border-top: black; 
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.error-msg {
  font-size: 12px;
  margin-top: 20px;
  display:block;
  color: rgba(255, 0, 0, 0.8);
}
.poll-title {
  margin-top: 100px;
}

.poll-info{
  color: var(--light-grey);
  font-size: 15px;
  white-space: nowrap;
}
.host-name {
  position: absolute;
  bottom: 30px;
  right: 50px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}

.voting-box {
  height: 90px;
  width: 300px;
  color: var(--white);
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 5px 10px -6px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
}
.voting-box:hover {
  cursor: pointer;
}
.optionA {
  background: rgba(192, 102, 177,0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.optionB {
  background: rgba(97, 165, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.option-size {
  font-size: 30px;
}
.option-title {
  font-size: 13px;
}

.stats-container {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  text-align: left;
}

.btn-end {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 9px 35px;
  background-color: rgba(179, 179, 179, 0.8);
  border-radius: 3px;
  font-size: 15px;
  color: rgb(255,255,255);
  border: 0;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.btn-end:hover {
  background-color: rgb(167, 167, 167);
  transition: 0.3s ease;
  cursor: pointer;
}

.graph-container {
  min-height: 200px;
  margin-bottom: 50px;
}
.piechart {
  margin: 50px;
  height: 200px;
}
.grid {
  padding: 20px;  
}

.grid-bar {
  border-radius: 5px;
  /* min-height: 200px; */
  color: var(--white);
  padding: 10px;
  margin-bottom: 10px;
}

.grid-bar-left {
  background-color: var(--purple); 
}

.grid-bar-right {
  background-color: var(--blue); 
}

.grid-count {
  font-size: 30px;
}

.legend-container {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: center;
  text-align: left;
}

.inner-legend {
  display: grid;
  grid-template-columns: 20% 80%;
}

.color-box {
  height: 100%;
  width: 100%;
  margin-right: 20px; 
  display: block;
  border-radius: 20px;
}

.text-box{
  margin-left: 10px;
}